<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>img-list</title>
	<link rel="stylesheet" type="text/css" href="css/img-list.css">
</head>
<body>
    <div class="ctn">
    	<h1>风景如画</h1>
    	<ul>
    		<li>
    			<img src="../images/tree(1).jpg">
    			<div class="text">
    		        <p>宁静遥远</p>
    	        </div>
    		</li>
    		<li>
    			<img src="../images/tree(1).jpg">
    			<div class="text">
    		        <p>宁静遥远</p>
    	        </div>
    		</li>
    		<li>
    			<img src="../images/tree(1).jpg">
    			<div class="text">
    		        <p>宁静遥远</p>
    	        </div>
    		</li>
    		<li>
    			<img src="../images/tree(1).jpg">
    			<div class="text">
    		        <p>宁静遥远</p>
    	        </div>
    		</li>
    		<li>
    			<img src="../images/tree(1).jpg">
    			<div class="text">
    		        <p>宁静遥远</p>
    	        </div>
    		</li>
    		<li>
    			<img src="../images/tree(1).jpg">
    			<div class="text">
    		        <p>宁静遥远</p>
    	        </div>
    		</li>
    	</ul>
    </div>
</body>
</html>