<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>jianshu-label</title>
	<link rel="stylesheet" type="text/css" href="css/jianshu-label.css">
</head>
<body>
    <div class="bg">
        <div class="main">
        	<div class="js-label">
    	        <div class="head">
    	            <span class="head-portrait"></span>
    	            <h2>林幕之</h2>
    	            <span>8小时前</span>
    	        </div>
    	        <div class="ctn">
    	    	    <h1 class="title">坚持“读书”这些年，人生真是太值了！</h1>
                    <p class="content">2017.5.27|NO.18 前几天，在国内大学的朋友给我发来微信。她说：5年前，刚进大学的时候，我们是一样的起点，如果当时和你一样坚持不断地坚持学习测试测试测试测试测试测试测试测试测试测试测试</p>
                    <a href="">读书</a>
    	        </div>
                <img class="text-img" src="../images/tree(1).jpg">	
    	    </div>
        </div>
    </div>
</body>
</html>