*{
	padding: 0;
	margin: 0;
}
h1{
	border-bottom: 2px solid #eee;
	padding: 25px;
}
.ctn{
	text-align: center;
	width: 1000px;
	margin: 20px auto;
}
.ctn>ul{
	padding: 30px;
	list-style: none;
}
.ctn>ul>li{
	display: inline-block;
	width: 300px;
	box-shadow: 0 5px 8px 5px rgba(0,0,0,0.3);
	margin: 25px 5px;
	border-radius: 3px;
}
.ctn>ul>li>img{
	width: 300px;
	height: 200px;
}
.text{
	width: 300px;
}
.text>p{
    margin: 15px;
}